<div class="todo">
    <div class="centrado">
            <div class="inner">
                <h3>Inciar sesion</h3>
                <br>
                <input class="from-control form-group w-100" type="text" placeholder="usuario">
                <input class="from-control form-group w-100" type="password" placeholder="contraseña">
                <p class="font-13">¿Aun no tiene nuestro servicio? <a href="#">Pruebalo ahora!</a></p>
                <br>
                <button class="btn btn-success float-right">Continuar</button>
                <br>
            </div>
    </div>
</div>
