<div class="mi-contenedor top-0 animated fastIn">
  <div class="mi-card radius-arriba color-amarillo-0">
    <i class="fas fa-info-circle"></i> 
    <span class="f-17 p-0 m-0 cursor es-link" data-toggle="collapse" data-target="#demo"> Tome en cuenta esta informacion antes de Elaborar su carta: </span>   
    <div id="demo" class="collapse">
        <hr class="">
        <strong>La Seccion</strong> puede ser, Entrada, platos de fondo, jugos, tragos, piqueos, etc. <strong> El Item </strong>es la descripcion del producto que pertenece a la seccion superior, por ejemplo: Causa rellena, lomito saltado, jugo de mango, coctel de cafe, etc. <br>
        <br>
        <strong>En la casilla Cantidad: </strong>
        Colocar <strong>"ND"</strong> si la cantidad del item es "no definido = infinito". Colocar <strong>SP</strong> (segun porcion) para que el sistema actualize las cantidades segun las porciones indicados en la receta del item. Tabien puede indicar una cantidad exacta;
    </div>        
  </div>
  <div class="mi-card color-negro-0 p-1 pl-3">
      <select name="" id="" style="color:aliceblue;" class="f-16 cursor no-line d-inline-block">
        <option value="">ALMUERZO</option>
      </select>
      <span class="d-inline-block text-secundary"><p class="f-16">Ultima modificacion: <strong>10/10/2017</strong></p></span>
  </div>
  <br>
  
  <!-- controles -->



  <br>
  <div class="row">
    <div class="col-12">
        <div class="mi-card con-borde radius-arriba radius-bajo color-blanco-0">
            
            <div class="float-right" style="margin-bottom: -35px;">
                <div class="d-inline-block btn btn-light btn-sm">                    
                    <div class="d-inline-block m-0 p-0">                        
                        <input type="number" class="no-line f-15 negrita" style="width: 35px" value="1" step="1" min="1" data-toggle="tooltip" data-placement="auto" title="Orden en la lista">
                    </div>  
                    <div class="d-inline-block es-link color-rojo" data-toggle="tooltip" title="Borrar Seccion">
                      <i class="far fa-trash-alt fa-lg"></i>
                    </div>                             
                </div>
            </div>

            <input type="text" class="from-control form-group w-100 f-18"  placeholder="SECCION">
            <table class="table-1 w-100">
                <thead>
                  <th width="60%"><input type="text" class="from-control form-group w-100" placeholder="ITEM"></th>
                  <th align="center"><input type="text" class="from-control form-group w-100 text-center" placeholder="PRECIO"></th>
                  <th aling="center"><input type="text" class="from-control form-group w-100 text-center" placeholder="CANTIDAD"></th>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-inline-block es-link color-rojo" data-toggle="tooltip" title="Eliminar Item">
                                <i class="far fa-trash-alt"></i>
                            </div>
                            <span class="pl-2">CAUSITA RELLENA</span>
                        </td>
                        <td align="center" appEditRowTable class="cursor">
                            <span>5.00</span>
                            <input type="text" attr.data-formato="numero" class="invisible w-100 text-center en-table-1" placeholder="PRECIO" value="5.00">
                        </td>
                        <td align="center" appEditRowTable class="cursor">
                            <span>SP</span>
                            <input type="text" attr.data-formato="cantidad-cadena" class="invisible w-100 text-center en-table-1" placeholder="CANTIDAD" value="SP">
                        </td>
                    </tr>
                    <tr>
                            <td>
                                <div class="d-inline-block es-link color-rojo" data-toggle="tooltip" title="Eliminar Item">
                                    <i class="far fa-trash-alt"></i>
                                </div>
                                <span class="pl-2">CAUSITA RELLENA</span>
                            </td>
                            <td align="center" appEditRowTable>
                                <span>5.00</span>
                                <input type="text" class="invisible w-100 text-center en-table-1" placeholder="PRECIO" value="5.00">
                            </td>
                            <td align="center">SP</td>
                        </tr>                    
                    <tr class="total">
                            <td class="sin-borde">-</td>
                            <td align="center" class="sin-borde">-</td>
                            <td align="center" class="negrita f-16 sin-borde">150</td>
                    </tr>
                </tbody>
              </table>      
        </div>
        <br>
        <div class="mi-card con-borde radius-arriba radius-bajo color-blanco-0">
            <input type="text" class="from-control form-group w-100 f-18" placeholder="SECCION">
            <table class="table-1 w-100">
                <thead>
                  <th width="60%"><input type="text" class="from-control form-group w-100" placeholder="ITEM"></th>
                  <th align="center"><input type="text" class="from-control form-group w-100 text-center" placeholder="PRECIO"></th>
                  <th aling="center"><input type="text" class="from-control form-group w-100 text-center" placeholder="CANTIDAD"></th>
                </thead>
                <tbody>
                    <tr>
                        <td>CAUSITA RELLENA</td>
                        <td align="center">5.00</td>
                        <td align="center">SP</td>
                      </tr>
                    <tr>
                        <td>CAUSITA RELLENA</td>
                        <td align="center">5.00</td>
                        <td align="center">SP</td>
                      </tr>
                      <tr>
                          <td>CAUSITA RELLENA</td>
                          <td align="center">5.00</td>
                          <td align="center">SP</td>
                        </tr>
                        <tr>
                            <td>CAUSITA RELLENA</td>
                            <td align="center">5.00</td>
                            <td align="center">SP</td>
                          </tr>
                      <tr class="total">
                              <td class="sin-borde">-</td>
                              <td align="center" class="sin-borde">-</td>
                              <td align="center" class="negrita f-16 sin-borde">150</td>
                      </tr>
                </tbody>
              </table>      
        </div>          
    </div>
  </div>
  
</div>