<div class="mi-contenedor top-0 animated fastIn">
    <div class="mi-accordion-info-item">
        <a class="mi-accordion-info-item-link">
          <span class="mi-accordion-info-item-image"><i class="fas fa-info-circle fa-lg"></i></span>
          <span class="mi-accordion-info-item-title">AAA cxcvcxvcv cxv xc vxcs</span>
        </a>
      </div>
  <br>
  <div class="mi-card color-amarillo-0">
    <p>
        <i class="fas fa-info-circle fa-lg"></i>
        Al elaborar la carta tenga en cuenta lo siguiente: <strong>La Seccion</strong> puede ser, Entrada, platos de fondo, jugos, tragos, piqueos, etc. <strong> El Item </strong>es la descripcion del producto que pertenece a la seccion superior, por ejemplo: Causa rellena, lomito saltado, jugo de mango, coctel de cafe, etc. <br>
        <br>
        <strong>En la casilla Cantidad: </strong>
        Colocar <strong>"ND"</strong> si la cantidad del item es "no definido". Colocar <strong>SP</strong> (segun porcion) para que el sistema actualize las cantidades segun las porciones indicados en la receta del item.
    </p>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <input type="text" class="from-control form-group w-100 f-18" placeholder="SECCION">
    </div>
  </div>
</div>